@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.card {
		background: var(--card-background);
		@apply border;
		border: 1px solid var(--fds-card-stroke-default);
		border-radius: var(--fds-control-corner-radius);
	}
}

:root {
	--primary: var(--fds-accent-default);
	--secondary: #222222;
	--card-background: var(--fds-card-background-default);
	color: var(--secondary);
	/* background: transparent; */
	/* background-color: var(--fds-solid-background-base); */
	/* background-color: #f0f3f9; */
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: var(--fds-accent-default);
		--secondary: white;
		--card-background: var(--fds-card-background-default);
		/* background-color: #221f22; */
	}
}

a:hover {
	color: var(--primary);
}

*::-webkit-scrollbar {
	width: 2px;
	/* width: 0;
	height: 0; */
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	border-radius: 10px;
	/* border: 0px solid var(--primary); */
}

.container {
	margin: 0;
	padding-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
  }